@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 16px;
}

.default {
  background-image: url("./images/default.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.cold {
  background-image: url("./images/cold.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.cool {
  background-image: url("./images/cool.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.warm {
  background-image: url("./images/warm.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.hot {
  background-image: url("./images/hot.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.search-field {
  padding: .5rem 1rem;
  font-size: 1rem;
  border: .2rem solid #8d7272;
  border-radius: 1rem;
  margin-right: .7rem;
  width: 12rem;
}

.submit-button {
  padding: .5rem 1rem;
  font-size: 1rem;
  background-color: #5e225c;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1rem;
}

.submit-button:hover {
  background-color: #e62f38;
}

.current-info-container {
  display:flex;
  flex-direction: column;
}

.city-and-date-container .city {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-shadow: .2rem .2rem rgba(50, 70, 70, 0.5);
}

.city-and-date-container .date {
  color: #fff;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  text-shadow: .2rem .2rem rgba(50, 50, 70, 0.5);
}

.weather-container {
  text-align: center;
  margin-bottom: 3rem;
}

.weather-container .temperature {
  display: inline-block;
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 1.5rem;
  padding: 1rem 1rem 1rem 2.8rem;
  color: #fff;
  font-size: 5rem;
  text-shadow: .2rem .3rem rgba(72, 7, 53, 0.5);
  text-align: center;
  box-shadow: .2rem .3rem rgba(72, 7, 53, 0.5);
}

.weather-container .temperature img {
  width: 5rem;
  height: 5rem;
}

.weather-container .condition {
  color: #fff;
  font-size: 2rem;
  text-shadow: .1rem .1rem rgba(72, 7, 53, 0.5);
}

.see-more-button {
  display: inline-block;
  cursor: pointer;
  color: #d0cccc;
  font-weight: 600;
  padding: .6rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  margin: 1.3rem auto;
  background-color: rgba(196, 192, 193, 0.3);
  text-align: center;
  text-shadow: .1rem .2rem rgba(72, 7, 53, 0.5);
}

.arrow {
  margin-left: .8rem;
  transition: transform 0.3s ease;
}

.up {
  transform: rotate(-180deg);
}

.forecast-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.forecast-item {
  margin: .6rem;
  padding: 1rem;
  background-color: rgba(167, 89, 89, 0.7);
  border-radius: .5rem;
  box-shadow: 0rem .2rem .7rem rgba(72, 7, 53, 0.5);
  text-align: center;
  min-width: 10rem;
  box-shadow: .1rem .2rem rgba(72, 7, 53, 0.5);
}

.forecast-item p {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-shadow: .1rem .1rem rgba(50, 50, 70, 0.5);
}
